.title-area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.title {
    line-height: 15px;
    height: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title > h2 {
    font-size: 46px;
    font-weight: 600;
}

.title > h2:last-child {
    line-height: 1.1;
}

.title > h2 > ion-icon {
    font-size: 62px;
    color: rgb(255, 71, 71);
    position: relative;
    top: 14px;
    z-index: 0;
}

.title > p.today-day {
    position: absolute;
    width: 30px;
    top: 57px;
    left: 16px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.content-cards {
    width: 100%;
    display: flex;
}

.big-card-area {
    width: 50%;
}

.small-card-area {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.big-card {
    width: auto;
    height: 700px;
    /* margin: 20px; */
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: all 0.3s ease;
}

.big-card > .text-area {
    height: 350px;
}

.big-card > .text-area > h3 {
    font-size: 25px;
    font-weight: 400;
}

.big-card > .text-area > h3 > ion-icon {
    font-size: 30px;
    position: relative;
    top: 6px;
}

.big-card > .text-area > h2 {
    font-size: 35px;
    line-height: 45px;
}

.big-card > .img {
    width: 100%;
    height: calc(100% - 400px);
    background-color: lightgray;
    background-image: url("https://www.boannews.com/media/upFiles2/2022/06/300057977_7890.JPG");
    background-size: cover;
    border: 1px solid lightgray;
}

.big-card:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
    top: -10px;
}

.small-card {
    width: auto;
    height: auto;
    min-height: 150px;
    margin: 0 0 40px 35px;
    padding: 20px 20px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: all 0.3s ease;
}

.small-card:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
    top: -10px;
}

.small-card > .text-area > h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

.small-card > .text-area > h3 {
    font-size: 25px;
    font-weight: 400;
}

.small-card > .text-area > h3 > ion-icon {
    font-size: 30px;
    position: relative;
    top: 6px;
}


.wide-card-area {
    width: 100%;
    max-width: var(--max-content-width);
    margin-bottom: 50px;
}

.wide-card {
    width: auto;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
    background-color: bisque;
    background-image: url("../src/big_brother.jpg");
    background-size: cover;
    background-position: center center;
}

.wide-card > .text-area {
    text-align: center;
    color: white;
}

.wide-card > .text-area > h1 {
    color: white;
    text-shadow: 0px 0px 10px black;
}

.more {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.more-card-area {
    width: calc(50% - 15px);
}

.more-card {
    width: auto;
    height: 300px;
    padding: 20px 20px 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
}

.more-card > h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}

.more-card-area:nth-child(1) > .more-card {
    background-color: lightskyblue;
    background-image: url("../src/incognito.png");
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;
}

.more-card-area:nth-child(2) > .more-card {
    background-color: rgb(255, 110, 110);
    background-image: url("../src/security.png");
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;
}

.shortcut-button {
    background-color: black;
    /* height: 1500px; */
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

.shortcut-button > ion-icon {
    position: relative;
    color: white;
    font-size: 20px;
    top: 5px;
}

.big-card,
.small-card,
.more-card {
    cursor: pointer;
}


@media screen and (max-width: 1023px) {
    .content-cards {
        flex-direction: column;
    }

    .big-card-area,
    .small-card-area {
        width: 100%;
        height: auto;
    }

    .small-card {
        width: auto;
        height: auto;
        min-height: 150px;
        margin: 30px 0 0 0;
        padding: 20px;
    }

    .wide-card-area {
        margin-top: 50px;
    }
}

@media screen and (max-width: 910px) {
    #headline_subtitle {
        display: none;
    }

    .big-card {
        height: 600px;
    }

    .big-card > .text-area {
        height: 300px;
    }

    .big-card > .img {
        width: 100%;
        height: calc(100% - 350px);
    }

    .more-card > h2 {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
    }
}

@media (prefers-color-scheme: dark) {
    .big-card,
    .small-card,
    .more-card {
        background-color: rgb(64, 64, 64);
        box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.1);
    }

    .big-card:hover,
    .small-card:hover {
        background-color: rgb(64, 64, 64);
        box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.2);
    }

    .big-card *,
    .small-card *,
    .more-card * {
        color: white;
    }

    .wide-card {
        background-image: url("../src/big_brother_dark.jpg");
        background-size: cover;
        background-position: center center;
    }

    .more-card-area:nth-child(1) > .more-card {
        background-color: rgb(0, 75, 141);
    }

    .more-card-area:nth-child(2) > .more-card {
        background-color: rgb(169, 66, 66);
    }
}